<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>702658349719-a36k6vjum8u0khcs9vbg65rdo7gdv03k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.702658349719-a36k6vjum8u0khcs9vbg65rdo7gdv03k</string>
	<key>API_KEY</key>
	<string>AIzaSyDooGdadM_0CK23BtTkW3n9kGag57zkoQg</string>
	<key>GCM_SENDER_ID</key>
	<string>702658349719</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myFinalProject</string>
	<key>PROJECT_ID</key>
	<string>chat-journal-wtf</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-journal-wtf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:702658349719:ios:a21adb69c7db40c0bf77d2</string>
</dict>
</plist>